*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#a9d1e0, #f4afba, #fdeff2);
}
.feedback{
    text-align: center;
    padding: 10px 0px 40px 0px;
    text-shadow: 4px 4px 3px  #63fbfd;
}
.three_input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: #d1e3e8;
    border-radius: 20px;
    text-align: center;
    height: 35px;
}
.submit_button{
    background-color: #a5d3e4;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    width: 170px;
    font-size: large;
    margin: 30px 0px 155px 0px;
}
.return_box{
    background-color: #e98cba;
    border: solid 2px black;
    border-radius: 15px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.box{
    background-color: #bbd8e2;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 40px 40px 40px;
}
.button{
    background-color: #a5d3e4;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    width: 170px;
    font-size: large;
    margin: 30px 0px 115px 0px;
}